/ThinkFinanceNuGet.Server/_PublishedWebsites
/ThinkFinanceNuGet.Server/bin
/ThinkFinanceNuGet.Server/obj
/ThinkFinanceNuGet.Server/Properties/PublishProfiles
/ThinkFinanceNuGet.Server/ThinkFinanceNuGet.Server.csproj.user